@model KiddieParadies.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "خطأ";
}

@section styles
{
    <style>
        h1, h3 {
            color: #F00;
        }
    </style>
}

<h1>خطأ</h1>

<h3>@Model.Message</h3>