@{
    ViewData["Title"] = "روضة السعادة";
}

<div class="text-center">
    <h1 class="display-4">أهلاً</h1>
    <p>تعلم أكثر <a href="https://docs.microsoft.com/aspnet/core" target="_blank">كذا كذا</a>.</p>
</div>
