@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "الولوج مرفوض";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">أنت لا تملك صلاحية الولوج لهذا المحتوى</p>
</header>
